:root {
  --slidev-theme-primary: #00DC82;
  --slidev-code-font-size: 14px;
  --slidev-code-padding: 12px;

}

html.dark {
  --slidev-code-background: #1e293b;
  --slidev-code-foreground: #BABED8;
}

html.dark #slide-content {
  background-color: #0f172a !important;
}

/* Transitions */
.slidev-vclick-target {
  transition:
    opacity 500ms ease,
    filter 200ms ease,
    color 300ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}

.fade-out-leave-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.6) ease-out,
    filter 200ms ease;
}

.fade-out-enter-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.8) ease-in,
    filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.slidev-code .line {
  transition: opacity 200ms ease;
}

iframe {
  background: black;
}